*.iml
.gradle
.DS_Store
/local.properties
/.idea/*
/.gradle/*
/build/*
/**/build/*
/captures/*
.externalNativeBuild
.cxx
local.properties
/APK/*
*.apk
*.aab
*.jks
/**/**/output-metadata.json
/**/output-metadata.json